a {
color: #00E;
text-decoration: none;
}
a:hover {
color: #00E;
text-decoration: underline;
}
.hidden {
display: none;
}
.oneline {
background: #efefef;
}
.okmsg, .errmsg {
position: absolute;
left: 50%;
top: 0;
margin: 10px 0 0 -250px;
width: 500px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #52B547;
background: rgba(164,227,116,0.9);
-webkit-box-shadow: #B3B3B3 2px 2px 2px;
-moz-box-shadow: #B3B3B3 2px 2px 2px;
box-shadow: #B3B3B3 2px 2px 2px;
text-align: center;
padding: 3px 10px;
font-size: 15px;
}
.errmsg {
border: 2px solid #FF0000;
background: rgba(255,222,222,0.9);
}
.tbljobs {
border: 0;
margin: 0;
border-collapse: collapse;
}
.tbljobs td {
padding: 5px;
font-size: 13px;
}
.tbljobs thead td {
background: #000;
color: #fff;
text-align: center;
}
.frmadd input, .frmadd select {
font-size: 16px;
}
.frmadd .sarea {
width: 600px;
height: 300px;
}
.frmadd td {
font-size: 13px;
}
/* tinybox */
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(../images/preload.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(../images/close.png) no-repeat}
.tclose:hover {background-position:0 -30px}
#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}
.cmdpreview {
margin: 10px 0 0 0;
width: 500px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
border: 2px solid #000;
background: #000;
-webkit-box-shadow: #B3B3B3 2px 2px 2px;
-moz-box-shadow: #B3B3B3 2px 2px 2px;
box-shadow: #B3B3B3 2px 2px 2px;
text-align: center;
padding: 3px 10px;
font-size: 12px;
font-family: Courier;
color: #52B547;
}
